.form-class-text{
    color: #ffffff;
}

.btn-white{
  transition: 350ms;
}

.btn-white:hover{
  color: #ffffff;
  background-color: grey;
}

.card-body{
    padding-left: 25rem;
    padding-right: 25rem;
}

.form-title{
    color: rgba(255,255,255,.5);
    opacity: 50% !important;
    text-align: center;
}

.form-center{
    text-align: center;
}

.btn-padding{
    margin-left: 7.5rem;
}

.hr-form{
    color: #323232;
    margin-right: 45em;
    margin-left: 45em;
    border-color: #323232;
}