* {
    transition: all .3s;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    overflow-x: hidden;
    background-color: #808080;
}

nav {
    height: 64px;
}

nav ul.bg-dark {
    background-color: initial !important;
}

header {
    box-shadow: 0px 0px 14px 0px #424242;
    background-color: #20222a;
}

header {
    margin-bottom: 16px;
}

div, img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.cmd {
    margin-left: 10px;
}

footer {
    text-align: center;
    color: white;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.lh-normal {
    line-height: normal;
}

.terminal-list-item {
    opacity: 0.75;
    text-align: center;
    color: white !important;
    text-decoration: none !important;
    background: rgba(51, 51, 51, 0.3);
    border-radius: 3px;
}

.terminal-list-item:hover {
    opacity: 1;
    transform: scale(1.05);
}

.flex-1 {
    flex: 1;
}

.custom-file-control::placeholder, .form-control::placeholder {
    color: #cfcfcf;
    opacity: 1;
}

.custom-file-control, .form-control {
    color: #fff;
}

.custom-file-control:focus, .form-control:focus {
    color: rgb(231, 231, 231);
}