* {
    transition: all .3s;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    margin: 0;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    color: #ffffff;
    overflow-x: hidden;
}

header nav ul li {
    display: inline;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.logo {
    height: 48px;
}

.cmd{
    margin-left: 10px;
}

footer {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.form-control:focus {
    border-color: #555555 !important;
    box-shadow: 0 0 0 .2rem #333333 !important;
}

.btn-primary {
    color: #000;
    background-color: #fcfcfc;
    border-color: #eaeaea;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3e3e3e;
    border-color: #3b3b3b;
}

.btn-primary:focus {
    border-color: #555555 !important;
    box-shadow: 0 0 0 .2rem #333333 !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3e3e3e;
    border-color: #3b3b3b;
}

.lh-normal {
    line-height: normal;
}

.terminal-list-item {
    text-align: center;
    color: white;
    background: #333333;
    border-radius: 3px;
}

.flex-1 {
    flex: 1;
}