.terminal {
    width: 100%;
    height: 100%;
    min-height: 500px;
    background-color: #000000;
    border: #666666;
    border-radius: 3px;
    cursor: text;
    caret-color: transparent;
    overflow-y: auto;
    color: #FFFFFF;
    padding: 10px;
    word-break: break-all;
}

html {
    height: 100%;
    position: relative;
}

body {
    overflow-x: hidden;
    height: 100%;
}

#term1{
    transform: translateY(250px);
}

.shy{
    display: none !important;
}

.term1{
    transition-delay: 2s;
    filter: blur(8px);
}

.terminal-content {
    padding: 0;
    color: #FFFFFF;
}

.terminal-caret {
    background-color: #FFFFFF;
    font-size: 14px;
    -webkit-animation: 1.2s linear infinite condemed_blink_effect;
    animation: 1.2s linear infinite condemed_blink_effect;
}

@-webkit-keyframes condemed_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

@keyframes condemed_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}